@using SignalRPractice.WebUI.Models
@model ShapePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/index.css" />


<!-- Take shapes from model to be accessed by javascript -->
<script>
    var shapeClasses = new Array();

</script>

@foreach (var shapeClass in Model.Shapes)
{
    <script>
                    shapeClasses.push(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(shapeClass, Newtonsoft.Json.Formatting.Indented)));
    </script>
}


<!-- Open SignalR Connection-->
@section Scripts{
    <script type="text/javascript">
        console.log('@Model.Shapes[0].ShapeType.ToString()');
        jQuery(document).ready(function ($) {
            console.log("Opening SignalR connection...");
            var connection = $.connection("/SignalR/echo");
            connection.start()
                .done(function () {
                    if (shapeClasses.length > 0) {
                        connection.send(shapeClasses[0]);
                    }
                })
                .fail(function () {
                    console.log("Error connecting to realtime service.");
                })
                ;


        });
    </script>
}


<div id="bodyDiv">

    <div class="circle shape" id="circle1" onclick="changeColor('circle1')"></div>

</div>



<script src="~/Scripts/index.js"></script>