@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/index.css" />



<div id="bodyDiv">

    <div class="circle" id="circle1"></div>

</div>



<script src="~/Scripts/index.js"></script>